{% extends "base.html" %}

{% block content %}
  <h1>Driver List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>License Number</th>
    </tr>
    </thead>
    <tbody>
    {% for driver in driver_list %}
      <tr>
        <td><a href="{% url 'taxi:driver-detail' driver.pk %}">{{ driver.username }}</a></td>
        <td>{{ driver.license_number }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% include "includes/pagination.html" %}
{% endblock %}
